export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

# export GDK_SCALE=2
# export GDK_DPI_SCALE=1.1

# support for global menu in KDE
export SAL_USE_VCLPLUGIN=gtk3
# export GTK_MODULES=appmenu-gtk-module

export QT_QPA_PLATFORMTHEME=gtk2

